body {
	background: #ffffff url("tile.png") repeat; /* #f3f0e9; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fee86e;
}

header {
	text-align: center;
}

img.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, td, th { 
	border: 1px solid black;
}

td { 
    padding: 5px;
}

h1, h2, h3, h4, h5, h6, b {color: #990000;}
a:link {color: #d17702;}
a:hover, a:visited {color: #936241;}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}